/* Barra de scroll completa */
.scrollbar::-webkit-scrollbar {
    width: 12px; /* Ajusta el ancho de la barra de scroll según tus necesidades */
  }
  
  /* Track de la barra de scroll */
  .scrollbar::-webkit-scrollbar-track {
    background: #d10c0c; /* Color del track de la barra */
  }
  
  /* Thumb de la barra de scroll */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #400fb3; /* Color del thumb de la barra */
  }
  
  /* Thumb de la barra de scroll en hover */
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #90d60e; /* Color del thumb en hover */
  }
  